body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  background: #111;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
}